{% if apt_cache_client_mode in ['http_proxy', 'http_https_path'] %}
Acquire::http::Proxy "http://{{ apt_cache_server_ip }}:{{ apt_cacher_ng_port | default(3142) }}";
Acquire::https::Proxy "DIRECT";
{% else %}
Acquire::http::Proxy "false";
Acquire::https::Proxy "false";
{% endif %}
