server {
    listen {{ nginx_acng_listen_http }};
    server_name {{ nginx_acng_server_name }};

    client_max_body_size 0;

    location / {
        proxy_pass {{ nginx_acng_backend_url }};
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-Proto http;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_buffering off;
        proxy_request_buffering off;
    }
}

server {
    listen {{ nginx_acng_listen_https }} ssl http2;
    server_name {{ nginx_acng_server_name }};

    ssl_certificate     {{ nginx_acng_tls_cert_path }};
    ssl_certificate_key {{ nginx_acng_tls_key_path }};

    client_max_body_size 0;

    location / {
        proxy_pass {{ nginx_acng_backend_url }};
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_buffering off;
        proxy_request_buffering off;
    }
}
