{
  "rootDir": "{{ aptly_root_dir }}",
  "downloadConcurrency": {{ aptly_download_concurrency }},
  "downloadSpeedLimit": 0,
  "architectures": [],
  "dependencyFollowSuggests": {{ aptly_dependency_follow_suggests | bool | lower }},
  "dependencyFollowRecommends": {{ aptly_dependency_follow_recommends | bool | lower }},
  "dependencyFollowAllVariants": {{ aptly_dependency_follow_all_variants | bool | lower }},
  "dependencyFollowSource": {{ aptly_dependency_follow_source | bool | lower }},
  "gpgDisableSign": false,
  "gpgDisableVerify": false,
  "downloadSourcePackages": false,
  "skipLegacyPool": true,
  "ppaDistributorID": "debian",
  "ppaCodename": ""
}
